.recommendations {
    height: 100vh;
    overflow-y: scroll;
    padding-bottom: 20px;
}

.recommendation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    > img {
        box-sizing: border-box;
        height: auto;
        border-radius: 10px;
        border: 3px solid white;

        &:hover {
            cursor: pointer;
            border-color: rgb(36 199 36);
        }
    }

    button {
        background-color: transparent;
        border: none;
        display: inline;
        margin: 0;
        padding: 0;
        margin-top: 5px;
        color: rgb(24 66 7);
        text-decoration: underline;
        font-size: 14px;

        &:hover {
            color: rgb(12 226 59);
        }
    }

    &:first-child {
        margin-top: 0px;
    }
}

.recommendation_title {
    color: rgb(5 80 21);
    text-align: center;
    margin: 10px;
}
