@use "../../input/radiobutton";
// TODO - Add selected styles
.searchform {
    height: 100vh;

    .name {
        display: flex;
        align-items: center;
        margin: 5px 0px;

        span {
            font-weight: 600;
            text-transform: capitalize;
            margin: 0px 5px;
        }
    }

    .search {
        display: flex;

        #search {
            font-size: 18px;
            background-color: rgb(220 255 201);
            color: black;
            opacity: 1;
            margin: 5px;
            border: 0;
            margin-right: 0px;
            flex-grow: 6;
            height: 40px;

            &:hover {
                outline: 1px solid;
            }

            &:focus {
                outline: 2px solid;
            }
        }

        .search_button {
            flex-grow: 1;
            background-color: rgb(75 224 125);
            margin: 5px 0px;
            padding: 0px 2px;
            font-size: 18px;

            &:hover {
                background-color: rgb(36 199 36);
            }
        }
    }

    .form_radio_button {
        @include radiobutton.radiobuttonhorizontal(green, rgb(75 224 125));
        display: inline-block;
        border: 0px;
    }
}
