@use "../../input/radiobutton";

.searchform {
    .name {
        display: flex;
        align-items: center;
        margin: 5px 0px;

        span {
            font-weight: 600;
            text-transform: capitalize;
            margin: 0px 5px;
        }
    }

    label {
        font-size: 16px;
    }

    .search {
        display: flex;

        .icon {
            background-color: rgb(220 255 201);
            margin: 5px 0px;
            padding: 10px;
        }

        #search {
            font-size: 18px;
            background-color: rgb(220 255 201);
            color: black;
            opacity: 1;
            border: 0;
            margin: 5px 0px;

            @media (width <= 600px) {
                width: 100%;
            }

            &:hover {
                outline: 1px solid;
            }

            &:focus {
                outline: 2px solid;
            }
        }

        .search_button {
            background-color: rgb(75 224 125);
            margin: 5px 0px;
            padding: 0px 2px;
            font-size: 18px;

            &:hover {
                background-color: rgb(36 199 36);
            }

            &.disabled {
                cursor: default;
                background-color: grey;
            }
        }
    }

    .form_radio_button {
        @include radiobutton.radiobutton(green, rgb(75 224 125));
        display: inline-block;
        border: 0px;
    }
}
