.characters {
    margin: 5px 10px;
    margin-bottom: 10px;

    .listings {
        display: flex;
        overflow-x: auto;
        gap: 10px;

        .character {
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            align-items: center;

            h5 {
                margin-bottom: 0px;
            }

            img {
                width: 140px;
                height: 220px;
                object-fit: cover;
                object-position: top;
            }

            p {
                display: inline-block;
                text-align: left;
            }
        }
    }
}
