.listing {
    .info {
        display: flex;
        flex-direction: column;

        p {
            display: inline-block;
            font-size: 19px;
        }

        .attribute {
            .type {
                padding: 0;
                font-weight: bold;
            }

            .value {
                display: inline;
            }
        }
    }

    .stats {
        .stat {
            display: inline-flex;
            padding: 5px 15px;
            border: 3px solid black;
            border-radius: 10px;
            flex-direction: column;
            background-color: white;
            margin: 0 2px;

            p {
                margin-bottom: 5px;
                font-size: 20px;
                font-weight: bold;
            }

            h2,
            p {
                text-transform: uppercase;
            }
        }

        // a lerp from red to green

        .score {
            border-color: hsl(calc(var(--score) * 120) 100% 50%);

            .value {
                color: hsl(calc(var(--score) * 120) 80% 30%);
            }
        }
    }
}
