.listing {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 5px;
        margin-top: 0px;
        text-transform: capitalize;
    }

    p {
        margin: 0;
    }

    .main {
        display: flex;

        .display {
            flex: 1;
        }

        .synopsis {
            flex: 4;
        }

        .infolayout {
            flex: 1;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }
    }
}
