.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    > img {
        height: auto;
        border-radius: 10px;
        border: 3px solid transparent;
    }

    p {
        margin: 0;
        padding: 0;
        margin-top: 5px;
        color: black;
        text-decoration: underline;
        font-size: 16px;
        font-weight: bold;

        width: 100%;
        white-space: pre;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &.anime {
        &:hover {
            cursor: pointer;

            > img {
                border-color: rgb(161 95 9);
            }

            p {
                color: rgb(161 95 9);
            }
        }
    }

    &:first-child {
        margin-top: 0px;
    }
}
