header {
    background-color: rgb(76 196 60);
    position: sticky;
    padding: 5px 0px;
    top: 0;
    z-index: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .link {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        padding: 0 20px;
        color: black;
        font-weight: 600;

        &:hover {
            color: white;
        }

        span {
            margin-left: 10px;
        }

        .Jikan {
            font-size: 17px;

            &::first-letter {
                font-size: 30px;
            }
        }
    }

    .left,
    .right {
        display: flex;
    }
}
