header {
    background-color: rgb(76, 196, 60);
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    & > * {
        padding: 0 30px;
        text-decoration: none;
        color: black;
        font-weight: bold;

        &:hover {
            color: white;
        }
    }
}
