input[type="text"] {
    color: black;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px hidden;
    outline: none;

    &:hover {
        border: 1px solid;
        border-color: grey;
    }

    &:focus {
        border-color: black;
    }
}
